body{
    background:white url(https://images.unsplash.com/photo-1516655855035-d5215bcb5604?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D) no-repeat ;
    background-size: 100% 100%;
    
}

#title h1{
    font-size: 3em;
}

#content{
    background-color: white;
    opacity: 0.3;
    text-align: center;
    align-content: center;
    margin: 20px 25% 20px 25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#content p{
    margin: 20px 30% 20px 30%;
}

#content h2{

}
